= wrap_layout :application do
  %section
    %h1 Blog
    - if is_blog_article?
      %article
        %h1= current_article.title
        %img{:src => current_article.url+"featured_image.jpg"}
        .article-inner.article
          = yield
    - else 
      .articles
        = yield

    -# %aside
    -#   %h2 Recent Articles
    -#   %ol
    -#     - blog.articles[0...10].each do |article|
    -#       %li
    -#         = link_to article.title, article
    -#   %h2 Categories
    -#   %ol
    -#     - categories = build_categories(blog.articles)
    -#     - categories.each do |category|
    -#       %li
    -#         = link_to category, category_path(category)
    -#   %h2 Tags
    -#   %ol
    -#     - blog.tags.each do |tag, articles|
    -#       %li= link_to "#{tag} (#{articles.size})", tag_path(tag)

    -#   %h2 By Year
    -#   %ol
    -#     - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
    -#       %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
