.contact-details#contact
  %ul
    %li
      = link_to "mailto:me@mischacolley.com.au" do 
        %i.fa.fa-envelope-o
        me@mischacolley.com.au

    %li
      = link_to "tel:+61417906042" do 
        %i.fa.fa-mobile
        +61 417 906 042
    %li
      = link_to "https://twitter.com/mischacolley", target: "_blank" do 
        %i.fa.fa-twitter
    %li
      = link_to "https://au.linkedin.com/in/mischacolley", target: "_blank" do 
        %i.fa.fa-linkedin
    %li
      = link_to "https://github.com/mischacolley", target: "_blank" do 
        %i.fa.fa-github
    -# %li
    -#   = link_to "#" do 
    -#     %i.fa.fa-codepen
    -# %li
    -#   = link_to "#" do 
    -#     %i.fa.fa-instagram