---
title: Test
---

.section.intro
  %a.scroll-down.icon-arrow-left{"data-offset" => "-45", :href => "#about"}
    %span.hidden Scroll Down

.section.about-summary#about
  .about-copy-intro
    = partial "intro"

    .cta-container
      %button.cta.highlight.contact-toggle Contact Me

    %span.employment-status 

  .profile-shot
    = tag :img, :src => "/assets/images/profile-shot.jpg"
.section.about-detail
  
  .section-title
    %h2 What I Do

  .about-detail-inner

    .intro-text I love writing HTML & CSS and I am passionate about building great user experiences

    .box-container
      .box
        %h3 For Agencies
        %p As a Front-End Developer the work I do in teams lies at the crossroads between design and development. I pride myself on my ability to work collaboratively with designers to bring designs to life in the browser and engineers to apply those designs to the underlying functionality and logic that makes websites and apps do what they do. I've done a lot of work with WordPress, Drupal and Ruby on Rails.
        = link_to "Hire Me", "#contact", class: "cta highlight contact-toggle"
      
      -# .box
      -#   -# %h3 Life
      -#   %p I'm very passionate about the web work I do but I also have a life outside of work. I have a young son and love spending time with him, his mum and our network of friends and family. I love to travel and I have a passion for Education, Technology and the Creative Arts. Starting a family has brought a lot of my youthful desires for making the world a better place to the surface. 
      -#   -# %button.cta.highlight.contact 
      -#   -#   = link_to "Say Hi", "https://twitter.com/mischacolley", target: "_blank"

      .box
        %h3 For Small Business
        %p The time I've spent building for the web has given me a diverse set of skills that enable me to help small business owners. Through my business, Exposé Creative, I help businesses interact and transact with their customers by providing knowledge and simple tools to make the web work for them. I pride myself on delivering simple solutions where people come before technology.

        = link_to "Hire EC", "http://www.exposecreative.com", target: "_blank", class: "cta ec highlight"


    .intro-text I believe strongly in the enabling power of the web, that being what drew me to it in the first place.

.section.work

  .section-title
    %h2 Featured Work
  .work-list
    .work-info

      - data.work.work[0...1].each_with_index do |work, index|
        
        %h3= work.title
        .summary
          %p= work.summary
        %button.cta.highlight
          = link_to "View", work.permalink, target: '_blank'

    - data.work.work[0...15].each_with_index do |work, index|
      = image_tag "work/#{work.image}"

.section.latest-posts

  .section-title
    %h2 Posts

  - blog.articles[0...2].each do |article|
    %article
      .panel
        %h1
          %a{:href => article.url}= article.title
        = image_tag article.url+"featured_image.jpg", resize_to: '960x378', class: 'thumbnail'
        .summary
          %p= Nokogiri::HTML(article.summary).text
          = link_to "Read more", "#{article.url}", class: 'read-more'

  .section-cta
    = link_to "All Posts", "/blog"
        
.section.projects

  .section-title
    %h2 Featured Projects

  - data.projects.projects[0...2].each_with_index do |projects, index|
    %article.projects
      .panel
        %h1
          = link_to "#{projects.title}", projects.permalink
        = image_tag "/assets/images/projects/#{projects.image}", resize_to: '960x378', class: 'thumbnail'
        .summary
          %p=projects.summary
          = link_to "View", projects.permalink, target: '_blank', :class => 'read-more'

  .section-cta
    = link_to "All Projects", "/projects"

.homepage-footer
  #twitter-feed.twitter-feed
  .instagram
    #instafeed 
