---
title: Test
---

.section.intro

.section.about-summary#about
  .about-copy-intro
    :kramdown
      Hi I’m **Mischa Colley**. I work with **HTML**, **CSS** and **JavaScript** to bring designs to life in the browser.
  .about-copy-main
    :kramdown
      I’ve been building for the web since **2006**. In that time I’ve worked for **[Netengine](http://www.netengine.com.au){:target="_blank"}{: .netengine}**, **[Orange Digital](http://www.orangedigital.com.au){:target="_blank"}{: .orangedigital}**, **[Brand New Media](http://www.brandnewmedia.com.au){:target="_blank"}{: .bnm}** and **[Coronis](http://www.coronis.com.au){:target="_blank"}{: .coronis}** along with my own clients through **[Exposé Creative](http://www.exposecreative.com){:target="_blank"}{: .exposecreative}**. I currently work remotely for **[bwired](http://www.bwired.com.au/){:target="_blank"}{: .bwired}**.

      I host **[Byron Web](http://www.meetup.com/byronweb){:target="_blank"}{: .byronweb}**, a monthly meetup for web professionals in the **Byron Shire**. **Byron Bay** is a special part of the **Northern Rivers** region of **NSW, Australia** which I'm lucky enough to call home along with my wife and son.

    .cta-container
      = link_to "Contact Me", "/contact", class: "cta contact-toggle btn"

    -# %span.employment-status I'm currently available for hire. Full-time or Contract.

  .profile-shot
    = tag :img, :src => "/assets/images/profile-shot.jpg"
.section.about-detail
  
  .section-title
    %h2 What I Do

  .about-detail-inner

    .intro-text I love writing HTML, CSS and JavaScript. I am passionate about building great user experiences upon responsive, progressively enhanced foundations that deliver fast, easy to use sites and services. 

    .box-container
      .box
        %h3 For Agencies
        %p As a Front-End Developer the work I do in teams lies at the crossroads between design and development. I pride myself on my ability to work collaboratively with designers to bring designs to life in the browser and engineers to apply those designs to the underlying functionality and logic that makes websites and apps do what they do. I've done a lot of work with WordPress, Drupal and Ruby on Rails.
        = link_to "Hire Me", "#contact", class: "cta contact-toggle"
      
      .box
        %h3.ec For Small Business
        %p The time I've spent building for the web has given me a diverse set of skills that enable me to help small business owners. Through my business, Exposé Creative, I help businesses interact and transact with their customers by providing knowledge and simple tools to make the web work for them. I pride myself on delivering simple solutions where people come before technology.

        = link_to "Hire EC", "http://www.exposecreative.com", target: "_blank", class: "cta ec"

    .box-full
      %h3.ec For Myself
      %p I'm very passionate about the web work I do but I also have a life and interests outside of the web. I have a young son and love spending time with him, his mum and our network of friends and family. I love to Travel and I have a passion for Education, Technology and the Creative Arts. Starting a family has brought a lot of my youthful desires for making the world a better place to the surface. That is something I'd like to more actively be working towards. I believe strongly in the enabling power of the web, that being what drew me to it in the first place.

.section.work

  .section-title
    %h2 Featured Work
  .work-list
    .work-info

      - data.work.work[0...1].each_with_index do |work, index|
        
        %h3= work.title
        .summary
          %p= work.summary
        %button.cta.highlight
          = link_to "View", work.permalink, target: '_blank'

    - data.work.work[0...15].each_with_index do |work, index|
      = image_tag "work/#{work.image}"

.section.latest-posts

  .section-title
    %h2 Posts

  - blog.articles[0...2].each do |article|
    %article
      .panel
        %h1
          %a{:href => article.url}= article.title
        - if article.data.featured_image
          = image_tag article.url+"featured_image.jpg", resize_to: '960x378', class: 'thumbnail'
        - else
        .summary
          %p= Nokogiri::HTML(article.summary).text
          = link_to "Read more", "#{article.url}", class: 'read-more'

  .section-cta
    = link_to "All Posts", "/blog"
        
.section.projects

  .section-title
    %h2 Featured Projects

  - data.projects.projects[0...2].each_with_index do |projects, index|
    %article.projects
      .panel
        %h1
          = link_to "#{projects.title}", projects.permalink
        = image_tag "/assets/images/projects/#{projects.image}", resize_to: '960x378', class: 'thumbnail'
        .summary
          %p=projects.summary
          = link_to "View", projects.permalink, target: '_blank', :class => 'read-more'

  .section-cta
    = link_to "All Projects", "/projects"

.homepage-footer
  #twitter-feed.twitter-feed
  .instagram
    #instafeed 
