---
title: Test
---

.section.intro

.section.about-summary#about
  .about-copy-intro
    :kramdown
      Hi I’m **Mischa Colley**. I work with **HTML**, **CSS** and **JavaScript** to bring designs to life in the browser. I want to work at **<span class="aime-col">AIME</span>**.
  .about-copy-main
    :kramdown
      I've put this landing page together to add some extra context to my application and provide some examples of the sort of person I am and the work I do.

      I’ve been building for the web since **2006** and I'm at a point in my life/career where I really need the work I do to matter. I'm currently a remote contractor at **[bwired](https://anon.to/DIXsHS){:target="_blank"}{: .bwired}** but in **AIME** I see a company and a mission I really believe in and would love to devote my time and energy to.

      To give back to the community I host **[Byron Web](http://www.meetup.com/byronweb){:target="_blank"}{: .byronweb}**, a monthly meetup for web professionals in the **Byron Shire** where I am lucky enough to live with my wife and son.

      

  .profile-shot
    = tag :img, :src => "/assets/images/profile-shot.jpg"

.section.positions

  .section-title
    %h2 Where I've Worked

  .position-list
    %article 
      %h1 Front-End Developer
      %h2
        = link_to "bwired", "https://anon.to/DIXsHS", target: '_blank', class: 'bwired'
        
      .duration Jul 2016 - Present
    %article 
      %h1 Lead Web Developer
      %h2 
        = link_to "Coronis", "https://www.coronis.com.au", target: '_blank', class: 'coronis'
      .duration Feb 2016 - Jun 2016
      = link_to "LinkedIn Reference", "https://www.linkedin.com/in/mischacolley/#experience-768816056", target: '_blank'
    %article 
      %h1 Front-End Developer
      %h2.bnm 
        Brand New Media
      .duration Jan 2015 - Nov 2015
      = link_to "LinkedIn Reference", "https://www.linkedin.com/in/mischacolley/#experience-628884504", target: '_blank'
    %article 
      %h1 Developer
      %h2
        = link_to "Orange Digital", "http://www.orangedigital.com.au", target: '_blank', class: 'orangedigital'
      .duration Mar 2013 - Nov 2014
      = link_to "LinkedIn Reference", "https://www.linkedin.com/in/mischacolley/#experience-377714124", target: '_blank'
    %article 
      %h1 Front-End Developer
      %h2
        = link_to "Netengine", "http://www.netengine.com.au", target: '_blank', class: 'netengine'
      .duration Apr 2011 - Oct 2011

.section.work

  .section-title
    %h2 What I've Built 
  .work-list
    .work-info

      - data.aimework.work[0...7].each_with_index do |work, index|
        %div
        
          %h3= work.title
          .summary
            %p= work.summary
          %button.cta.highlight
            = link_to "View", work.permalink, target: '_blank'

    - data.aimework.work[0...15].each_with_index do |work, index|
      = image_tag "work/#{work.image}"

.section.skills

  .section-title
    %h2 Skillz I've Got

  %p.leadtext I've got a range of skillz and experience I've developed over the years. Here is a quick indication of some of the things I work with on a day-to-day basis and my level of proficiency. 

  %ul.skills-list 
    %li 
      %span.skill HTML (Haml)
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill CSS (Sass)
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill JavaScript & jQuery
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill Build Tools (Gulp)
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill Git & Command Line
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill PHP, Ruby
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill Databases & SQL
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill Hosting & Servers
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill WordPress
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill Drupal
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill Ruby on Rails (FE)
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point
    %li
      %span.skill Photoshop, Illustrator
      %span.skill-point
      %span.skill-point
      %span.skill-point
      %span.skill-point

.homepage-footer
  #twitter-feed.twitter-feed
    %ul
      %li
        %p.tweet I'm very passionate about the web work I do but I also have a life and interests outside of the web. I have a young son and another child on the way. I love spending time away from the screen and with our network of friends and family. I love to Travel and I have a passion for Education, Technology and the Creative Arts. Starting a family has brought a lot of my youthful desires for making the world a better place to the surface. I believe strongly in the good work that AIME is doing and I'd love to be able to be a part of that and help AIME grow.
  .instagram
    #instafeed 