---
title: Blog | Mischa Colley
pageable: true
per_page: 10
---

- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page

- page_articles.each_with_index do |article, i|
  %article
    .post-heading
      %h1
        = link_to article.title, article.url 

    .featured-image
      - if article.data.featured_image
        = image_tag article.url+"featured_image.jpg", resize_to: '960x378', class: 'thumbnail'
      - else

    .article-inner.article
      .article-meta
        %span= article.date.strftime('%e %b %Y')
        .category
          - category = article.data.category
          = link_to category, category_path(category)
        .tags 
          - article.tags[0...1].each do |tag, articles|
            = link_to "#{tag}", tag_path(tag)
      .summary
        %p= Nokogiri::HTML(article.summary).text
        = link_to "Read more", "#{article.url}", :class => 'read-more'
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page