---
title: Scripts
---

%section

  %h1 Scripts
  %p.section-desc a place for learning, experimentation and documenting all things JavaScript

  .articles
    - data.read.read.select { |a| a.tags.include? 'scripts' }.each_with_index do |read, index|
      %article.read
        -# = image_tag "read/#{read.image}", resize_to: '960x378', class: 'thumbnail'
        .article-inner
          %h3
            = link_to "#{read.title}", "#{read.permalink}"
          %p=read.notes
    - data.watch.watch.select { |a| a.tags.include? 'scripts' }.each_with_index do |watch, index|
      %article.watch
        -# = image_tag "watch/#{watch.image}", resize_to: '960x378', class: 'thumbnail'
        .article-inner
          %h3
            = link_to "#{watch.title}", "#{watch.permalink}"
          %p=watch.notes
    - data.listen.listen.select { |a| a.tags.include? 'scripts' }.each_with_index do |listen, index|
      %article.listen
        -# = image_tag "listen/#{listen.image}", resize_to: '960x378', class: 'thumbnail'
        .article-inner
          %h3
            = link_to "#{listen.title}", "#{listen.permalink}"
          %p=listen.notes