---
pageable: true
per_page: 12
---
%h1
  Posts categorized: 
  = category
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
%article.article
  - page_articles.each_with_index do |article, i|
    %h1
      = link_to article.title, article
      %span= article.date.strftime('%b %e')
    %img{:src => article.url+"featured_image.jpg"}
    .summary
      %p= Nokogiri::HTML(article.summary).text
      = link_to "Read more", "#{article.url}", :class => 'read-more'
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page